# Copy to %LocalAppData%\Vincere.Operator\.env or set Windows User/System environment variables (vars override file).
# TELEGRAM_BOT_TOKEN=
# TELEGRAM_CHAT_ID=
DATA_DIR=
NT_LOG_DIR=
VINCERE_IPC_PIPE_NAME=VincereOperator
DRY_RUN=false
PROP_CONNECTION_NAME=
DEVELOPER_PASSCODE=
CONNECTION_REFRESH_TIME=08:20
ENABLE_ALL_STRATEGIES_TIME=08:25
EOD_CUTOFF_TIME=16:05
